@import url(../../Styles.css);

.app-top {
    width: 100%;
    height: 100vh;
    background: url("../../Assets/bg.svg");
    background-size: cover;
    background-position: center;
}

.app-top-content {
    margin: 0 5%;
    padding-top: 15vh;
    display: grid;
    grid-template-columns: 1fr repeat(2, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}


.app-box {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
    background-color: #2a2a2a;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
}

.menu {
    height: 100%;
    padding: 0.5rem;
    aspect-ratio: unset;
}

.menu-item {
    border-radius: 10px;
    padding: 0.35em;
    cursor: pointer;
}

.menu-item.selected {
    background-color: #414141;
}

.menu-item p {
    font-size: 1.5rem;
    margin: 0;
}

.menu-icon {
    fill: #fff;
    vertical-align: -0.125em;
    margin-right: 0.25em;
}

.under-construction {
    padding: 3em;
}

.under-construction-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
}

.under-construction-text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1em;
}

.edit {
    padding: 1em;
}

.settings {
    overflow-y: scroll;
    padding: 1em;
}

.settings-edit {
    margin-bottom: 2.5em;
}

.settings-edit-input input[type="text"],
.settings-edit-input input[type="email"] {
    display: block;
    width: 75%;
    padding: 0.75em;
    background-color: #3b3b3b;
    border: none;
    outline: none;
    margin-bottom: 1em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.25s ease-in;
}

.settings-edit-input input[type="text"]:focus,
.settings-edit-input input[type="email"]:focus {
    background-color: #363636;
}

.settings-button.save {
    background-color: var(--brand-2);
}

.settings-button.save:hover {
    background-color: var(--brand-2);
    box-shadow: 0px 0px 15px 1px var(--brand-3);
}

.settings-button {
    display: block;
    padding: 0.75em;
    border: none;
    margin-bottom: 1em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s ease-in;
}

.settings-button:hover {
    background-color: #353535;

}

.settings-button.danger {
    background-color: var(--red-40);
}

.settings-button.danger:hover {
    box-shadow: 0px 0px 15px 1px var(--red-50);
}