@import url(../../../Styles.css);

.footer {
    width: 100%;
    padding: 1% 15% 0;
    background: #1f1f1f;
}

.footer-logo {
    cursor: pointer;
}

.footer-container {
    width: 100%;
    height: 100%;
}

.footer-container a {
    text-decoration: underline;
    cursor: pointer;
}

.footer-container-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5%;
    padding: 0em 0 2em 0;
}

.footer-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-item h1 {
    font-size: 1.5rem;
}

.footer-item ul {
    width:fit-content;
    list-style-type: none;
}

.footer-item li {
    display: block;
    margin-right: 1rem;
}

.newtab {
    display: inline-block !important;
    height: 16px !important;
    margin-bottom: 0px !important;
    vertical-align: -0.125em;
    margin-right: 8px !important;
}

.footer-item.social > ul {
    display: flex;
    margin-top: 1em;
}

.footer-item a>svg {
    display: block;
    height: 32px;
    fill: #fff;
    transition: 1s ease;
}

.footer-acknowledgement {
    padding: 2em 0;
    border-top: 2px solid #f5f6f7;
}

.footer-acknowledgement-content {
    font-size: 16px;
    font-weight: 500;
}

.footer-legal {
    padding: 2em 0;
    border-top: 2px solid #f5f6f7;
}

.footer-legal-content {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

.footer-legal-content li {
    margin: 0 1em;
}

.footer-legal-content a {
    text-decoration: none;
}

.footer-gradient {
    height: 0.5em;
    background-size: 200%;
    background-image: linear-gradient(90deg, var(--brand-1), var(--brand-2), var(--brand-3), var(--brand-4), var(--brand-5), var(--brand-1));
    animation: emphasisScroll 1.5s linear infinite;
}

@keyframes emphasisScroll {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}