.blog-top {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.blog-background-top {
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../../../Assets/bgBottom.svg");
    background-size: cover;
    background-position: center;
}

.blog-background-bottom {
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    /*background: url("../../../Assets/bg.svg");*/
    background-size: cover;
    background-position: center;
}

.blog-top-content {
    margin: 0 10%;
    padding-top: 15vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-markdown {
    text-align: start;
}

.blog-title {
    text-align: start;
    font-size: 4rem !important;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blog-author {
    text-align: start;
    font-size: 2rem !important;
    font-weight: 600;
    margin-bottom: 2rem;
}

.blog-markdown h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blog-markdown h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem; 
}

.blog-markdown h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blog-markdown p, .blog-markdown li {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.blog-markdown strong {
    font-weight: 700;
}

.blog-markdown em {
    font-style: italic;
}

.blog-markdown code {
    font-family: consolas;
}

.blog-markdown a {
    text-decoration: underline;
}

.blog-markdown img {
    border-radius: 20px;
    max-width: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
}