@import url(../../Home/Home.css);

.main-top-content h1, h2 {
    background: linear-gradient(180deg, var(--brand-1), var(--brand-2), var(--brand-3), var(--brand-4), var(--brand-5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    font-size: 6rem;
    margin-bottom: 1rem
}

.main-top-content h2 {
    font-weight: 800;
    font-size: 3rem
}

.main-top-content-emphasis {
    animation: emphasisScroll 1.5s linear infinite;
    font-weight: 800;
    background-image: linear-gradient(90deg, var(--red-50), var(--orange-50), var(--yellow-50), var(--green-50), var(--blue-50), var(--purple-50), var(--red-50));
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text
}

.main-top-content-plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em
}

.main-top-content-plan {
    border-radius: 10px;
    background-color: var(--sidebar);
    padding: 1em;
    margin-top: 1em;
    border: 2px solid var(--sidebar-border)
}

.main-top-content-plan-header {
    font-weight: 400;
    text-align: center
}

.main-top-content-plan-price {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center
}

.main-top-content-plan-price-int {
    font-size: 1.75em;
    font-weight: 900;
    color: #0000;
    background-clip: text;
    background-size: 300%;
    -webkit-background-clip: text
}

.main-top-content-plan-button {
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 7.5px;
    border: none;
    cursor: pointer
}

.main-top-content-plan-button-text {
    color: var(--text);
    font-size: 1.25em;
    font-weight: 700
}