@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* Colors */
    --red-10: #f8d5da;
    --red-20: #f1abb4;
    --red-30: #eb828f;
    --red-40: #e45869;
    --red-50: #dd2e44;

    --orange-10: #fde9ce;
    --orange-20: #fbd39e;
    --orange-30: #f8bc6d;
    --orange-40: #f6a63d;
    --orange-50: #f4900c;

    --yellow-10: #fff5de;
    --yellow-20: #feeabc;
    --yellow-30: #fee09b;
    --yellow-40: #fdd579;
    --yellow-50: #fdcb58;

    --green-10: #e4efde;
    --green-20: #c9e0bd;
    --green-30: #aed09b;
    --green-40: #93c17a;
    --green-50: #78b159;

    --blue-10: #ddeefc;
    --blue-20: #bbdef8;
    --blue-30: #99cdf5;
    --blue-40: #77bdf1;
    --blue-50: #55acee;

    --purple-10: #eee8f7;
    --purple-20: #ddd2ef;
    --purple-30: #ccbbe6;
    --purple-40: #bba5de;
    --purple-50: #aa8ed6;

    --rainbow-10: linear-gradient(90deg, var(--red-10) 0%, var(--orange-10) 20%, var(--yellow-10) 40%, var(--green-10) 60%, var(--blue-10) 80%, var(--purple-10) 100%);
    --rainbow-20: linear-gradient(90deg, var(--red-20) 0%, var(--orange-20) 20%, var(--yellow-20) 40%, var(--green-20) 60%, var(--blue-20) 80%, var(--purple-20) 100%);
    --rainbow-30: linear-gradient(90deg, var(--red-30) 0%, var(--orange-30) 20%, var(--yellow-30) 40%, var(--green-30) 60%, var(--blue-30) 80%, var(--purple-30) 100%);
    --rainbow-40: linear-gradient(90deg, var(--red-40) 0%, var(--orange-40) 20%, var(--yellow-40) 40%, var(--green-40) 60%, var(--blue-40) 80%, var(--purple-40) 100%);
    --rainbow-50: linear-gradient(90deg, var(--red-50) 0%, var(--orange-50) 20%, var(--yellow-50) 40%, var(--green-50) 60%, var(--blue-50) 80%, var(--purple-50) 100%);

    
    --brand-0: #ffffff;
    --brand-1: #6198ff;
    --brand-2: #3c80ff;
    --brand-3: #0066ff;
    --brand-4: #0059dd;
    --brand-5: #004cbb;
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color-scheme: light;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #121212;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

img {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

grammarly-extension,
grammarly-desktop-integration,
grammarly-underline,
grammarly-dictionary-card,
grammarly-popups {
    display: none;
}